@import url("reset.css");
@import url("01header.css");
@import url("02video.css");
@import url("03cd.css");

:root{
   --cinza: #dcdcdc;
   --azul: #335690;

   --font-size-nm: 18px; 
}

*{
   box-sizing: border-box;
}

body{
   background-image: url('../img/bg.webp');
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   background-attachment: fixed;
}

.cabecalho{
   background-color: var(--cinza);
   box-shadow: 0 1px 3px 1px rgba(0,0,0,0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   width: 100%;
   top: 0;
}