.cabecalho > *{
   flex: 1;
}

.cabecalho--nav{
   width: 100%;
}

.cabecalho--navegacao{
   display: flex;
   font-size: var(--font-size-nm);
   gap: 1.5em;
   justify-content: center;
}


.cabecalho--navegacao--item{   
   font-family: Georgia, serif;
}

.cabecalho--nacegacao--link{
   color: rgba(0,0,0,0.75);
   text-decoration: none;
   transition: 0.3s ease-in-out;
}

.cabecalho--nacegacao--link:hover{
   color: var(--azul);
}

.cabecalho--imagem{
   margin: auto 2.5rem;
   flex: 0;
}

.cabecalho--redes{
   display: flex;
   gap: 1.5em;
   align-items: center;
   width: 100%;
   justify-content: center;
}



