.cd{
   display: flex;
   justify-content: center;
   gap: calc(2vw + 2vh);
   padding: calc(3vw + 3vh) 0 calc(1vw + 1vh);
}

.cd__cover{
   border: 5px solid #161616;
   width: min(40vw, 80vh);
   aspect-ratio: 1;
}


.info__image{
   display: block;
   margin: 0 auto;
}

.info__button{
   background-color: #161616;
   color: var(--cinza); 
   padding: .5em 1em;
   font-family: 'Lucida Sans', Verdana, sans-serif;
   font-weight: bold;
   font-size: var(--font-size-nm);
   text-decoration: none;
   text-transform: uppercase;
   display: block;
   width: 60%;
   margin: .5em auto;
   text-align: center;
}


.info__tracks {
   font-family: 'Lucida Sans', Verdana, sans-serif;
   list-style: decimal;
   margin-left: 1.2em;
   font-size: var(--font-size-nm);
}

.tracks__track{
   line-height: 1.5;
}

.track__subtracks{
   list-style: lower-roman;
   font-size: .75em;
   margin-left: 1.5em;
   margin-bottom: 1em;
   line-height: 1.25;
}

.info__credits{
   font-family: 'Lucida Sans', Verdana, sans-serif;
   font-size: var(--font-size-nm);
   line-height: 1.5;
}