.tour-date{
   padding: calc(2vw + 2vh) calc(7vw + 7vh);
}

.date__title{
   font-size: var(--font-size-bg);
   font-weight: bold;
}

.date__line{
   margin: 0;
   height: 2px;
   background-color: black;
   border: none;
}

.date__header{
   display: flex;
   justify-content: space-between;
   padding: 1em 0;
}

.date__header__first{
   padding: .75em 1.25em .75em 0;
}

.date__header__first > strong{
   font-weight: bold;
}

.date__header__button{
   text-decoration: none;
   color: var(--cinza);
   background-color: black;
   padding: .75em 1.25em;
}

.date__concert{
   display: flex;
   align-items: center;
   gap: 5%;
   padding: 1em 0;
}

.date__concert:nth-of-type(2n){   
   background-color: var(--cinza);
}

.date__concert :last-child{
   margin-left: auto;
}

.date__concert__date{
   align-self: baseline;
}

.date__concert__date > strong{
   font-size: var(--font-size-bg);
   font-weight: bold;
}

.date__concert__link{
   display: flex;
   width: 25%;
   gap: .5em;
}

.link__button{
   text-decoration: none;
   color: black;
   background-color: transparent;
   padding: .75em 1em;
   border: 1px solid black;
   flex: 1;
   text-align: center;
}

.link__button:hover{
   color: var(--cinza);
   background-color: black;
}